#body{

    background: #dadddf;
}
.topo{

    width: 100%;
    height: 50px;
    background-color: #621295;
    margin-bottom: 10px;

}
#efeito{

    
    text-align: center;
    color: #c40b13;
    text-shadow: 1 1 1 #111;
    font-family: 'Acme', sans-serif;
    

}
#gif{

    border-radius: 20px;
    transform: rotate(-2deg );

}

#menu{
    float: right;
    top: 10px;
    position: relative;

}
#menu a{
    text-decoration: none;
    color: black;
    padding: 18px 15px;
    font-family: 'Acme', sans-serif;
}
#menu a:hover{
background: rgba(1, 1, 1, 0.5);
color: #621295;


}
.corpo{
    clear:both;
}
.first{
    border-right: 1px solid #c40b13;
    width: 300px;
    min-height: 400px;
    float: left;



}
.second{
    width: 700px;
    min-height: 400px;
    float: right;



}
